@import
url(http://fonts.googleapis.com/css?family=Cabin:400);

body {
    background-color: #222;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hint {
    font-size: 26px;
    color: #fff;
}

#random-article:hover {
    color: #aaf;
}

.responses {
    opacity: 0;
}

.response {
    background-color: white;
    padding: 5px 0 5px 10px;
    margin: 5px 0 10px 0;
}

.search-form:before,
.search-form:after {
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    margin: 0 0 0 -400px;
    position: absolute;
    width: 800px;
}

.search-form form {
    background: #222;
    background: linear-gradient(#1b1b1b, #222);
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    font-size: 0px;
    margin: 30px 0 0 60px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.search-form input {
	background: #333;
	background: linear-gradient(#444, #333);
	border: 1px solid #555;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.search-form input::-webkit-input-placeholder {
   color: #888;
}

.search-form button:hover,
.search-form button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.search-form button {
	background: #333;
	background: linear-gradient(#444, #333);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 38px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}


.search-form button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}
